@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");
p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    height: 100vh;
    width: 100%;
    font-family: "Barlow", sans-serif;
    background-color: #1c1c1e;
}

@media screen and (max-width: 799px) {
    body {
        height: 100%;
    }
}

.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    opacity: 0.8;
}

.daily {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.daily .daily-title {
    font-weight: 700;
    font-family: "Barlow", sans-serif;
    letter-spacing: 0.04em;
    font-size: 60px;
    color: #d6a035;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

@media screen and (max-width: 799px) {
    .daily .daily-title {
        font-size: 40px;
    }
}

.btn {
    height: 50px;
    border-radius: 6px;
    background-color: #404145;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-family: "Barlow", sans-serif;
    padding: 0 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    margin-top: 15px;
}
.warn {
    background-color: #930702;
    color: white;
}
.add {
    background-color: #4f935b;
    color: white;
    display: table-row;

}
.add-submit {
    background-color: #4f935b;
    color: white;
}

@media screen and (max-width: 511px) {
    .btn {
        margin-top: 5px;
    }
}

.btn span {
    z-index: 1;
    display: block;
}

.btn:after {
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% - 6px);
    border-radius: 4px;
    background-color: #1c1c1e;
    bottom: 3px;
    left: 3px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0.8;
}

.btn:hover:after {
    height: calc(100% - 6px);
}

.btn:focus {
    outline: 0;
}

.modal {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    overflow-x: hidden;
    display: none;
    -webkit-transition: all 0.4s 0.2s ease;
    transition: all 0.4s 0.2s ease;
    z-index: 2;
    opacity: 0;
}

.modal.open {
    display: -ms-grid;
    display: grid;
    opacity: 1;
    background: transparent;
    -webkit-transition: all 0.4s 0.2s ease;
    transition: all 0.4s 0.2s ease;
}

@media screen and (max-width: 511px) {
    .modal.open {
        background: transparent;
    }
}

.modal.open .wrapper {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
    display: -ms-grid;
    display: grid;
    /*-ms-grid-columns: (1fr)[12];*/
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 60px;
    -webkit-animation: modal-in 1.6s ease both;
    animation: modal-in 1.6s ease both;
}

@media screen and (max-width: 799px) {
    .modal.open .wrapper {
        padding: 40px;
    }
}

@media screen and (max-width: 511px) {
    .modal.open .wrapper {
        padding: 0px;
    }
}

.modal.open .wrapper:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: transparent;
    -ms-grid-column: 6;
    grid-column-start: 6;
    grid-column-end: 100;
    top: 0;
    -webkit-animation: modal-in 1.6s ease both;
    animation: modal-in 1.6s ease both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@media screen and (max-width: 799px) {
    .modal.open .wrapper:after {
        height: 48.8%;
        top: initial;
        bottom: 0;
        left: -40px;
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 100;
    }
}

@media screen and (max-width: 511px) {
    .modal.open .wrapper:after {
        display: none;
    }
}

.modal.open .wrapper .container {
    background: transparent;
    width: 100%;
    height: auto;
    z-index: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 13;
    /*-ms-grid-columns: (1fr)[12];*/
    grid-template-columns: repeat(12, 1fr);
    margin: auto;
    position: relative;
}

.modal.open .wrapper .container .icon-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 60px;
    z-index: 3;
    background-image: url(../images/icon/cancel.png);
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-size: 30px;
}

@media screen and (max-width: 799px) {
    .modal.open .wrapper .container .icon-close {
        top: 20px;
        right: 20px;
    }
}

.modal.open .wrapper .container .icon-close:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.modal.open .wrapper .container .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.modal.open .wrapper .container .left {
    background-color: #f5f5f5;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 80px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: modal-in 1.6s ease both;
    animation: modal-in 1.6s ease both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@media screen and (max-width: 799px) {
    .modal.open .wrapper .container .left {
        border-radius: 20px 20px 0px 0px;
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 13;
        padding: 60px 30px 40px 30px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
}

@media screen and (max-width: 511px) {
    .modal.open .wrapper .container .left {
        border-radius: 0;
    }
}

.modal.open .wrapper .container .left .details {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    /*-ms-grid-columns: (1fr)[8];*/
    grid-template-columns: repeat(8, 1fr);
}

@media screen and (max-width: 799px) {
    .modal.open .wrapper .container .left .details {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

.modal.open .wrapper .container .left .details .swiper-container {
    background-color: white;
    border-radius: 14px;
    /*min-width: 220px;*/
    /*width: calc(100% + 40px);*/
    width: auto;
    height: auto;
    /*-webkit-transform: translateX(-40px);*/
    /*transform: translateX(-40px);*/
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 8;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 799px) {
    .modal.open .wrapper .container .left .details .swiper-container {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        min-width: initial;
        width: 100%;
    }
}

@media screen and (max-width: 511px) {
    .modal.open .wrapper .container .left .details .swiper-container {
        margin-bottom: 30px;
    }
}

.modal.open .wrapper .container .left .details .swiper-container .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.modal.open .wrapper .container .left .details .swiper-container .swiper-wrapper .swiper-slide img {
    height: auto;
    margin-top: 30px;
}

.modal.open .wrapper .container .left .details .swiper-container .navigation {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-button-prev,
.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-button-next {
    bottom: 0;
    top: initial;
    width: 24px;
    height: 24px;
    position: initial;
    margin-top: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-button-prev:focus,
.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-button-next:focus {
    outline: 0;
}

.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-button-prev {
    background-image: url("../images/icon/back.png");
    margin-right: 15px;
}

.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-button-prev:hover {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-button-next {
    background-image: url("../images/icon/next-1.png");
    margin-left: 15px;
}

.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-button-next:hover {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-pagination {
    bottom: 0;
    height: 24px;
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.foto_persona{
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content:space-around; /*esta es la que manda*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}

.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 0px 1px #a01222;
    box-shadow: inset 0px 0px 0px 1px #a01222;
    width: 10px;
    height: 10px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 8px;
}

.modal.open .wrapper .container .left .details .swiper-container .navigation .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    -webkit-box-shadow: inset 0px 0px 0px 5px #a01222;
    box-shadow: inset 0px 0px 0px 5px #a01222;
}

.modal.open .wrapper .container .left .details persona {
    -ms-grid-column: 2;
    grid-column-start: 2;
    grid-column-end: 8;
    -webkit-animation: modal-in 1.6s ease both;
    animation: modal-in 1.6s ease both;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@media screen and (max-width: 799px) {
    .modal.open .wrapper .container .left .details persona {
        -ms-grid-column: 1;
        grid-column-start: 1;
    }
}

.modal.open .wrapper .container .left .details persona .title {
    color: #d6a035;
}

.modal.open .wrapper .container .left .details persona .nombre-left {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #404145;
    margin-bottom: 10px;
}

@media screen and (max-width: 511px) {
    .modal.open .wrapper .container .left .details persona .nombre-left {
        font-size: 20px;
        line-height: 24px;
    }
}

.modal.open .wrapper .container .left .details persona .nacionalidad-left {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9c9c9c;
    margin-bottom: 20px;
}

.modal.open .wrapper .container .left .details persona .nacimiento-left {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #b7b7b7;
    margin-bottom: 20px;
}

.modal.open .wrapper .container .left .details persona .total {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #d6a035;
    margin-bottom: 5px;
}

.modal.open .wrapper .container .left .details persona .dni-left {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #d6a035;
}

@media screen and (max-width: 511px) {
    .modal.open .wrapper .container .left .details persona .dni-left {
        font-size: 28px;
        line-height: 34px;
    }
}

.modal.open .wrapper .container .right {
    -ms-grid-column: 6;
    grid-column-start: 6;
    grid-column-end: 13;
    height: 100%;
    border-radius: 0px 30px 30px 0px;
    background-color: #eaeaea;
    display: -ms-grid;
    display: grid;
    /*-ms-grid-columns: (1fr)[7];*/
    grid-template-columns: repeat(7, 1fr);
    padding: 80px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-animation: modal-in 1.6s ease both;
    animation: modal-in 1.6s ease both;
}

@media screen and (max-width: 799px) {
    .modal.open .wrapper .container .right {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        border-radius: 0px 0px 20px 30px;
        -ms-grid-column: 1;
        grid-column-start: 1;
        padding: 40px 30px 60px 30px;
    }
}

@media screen and (max-width: 511px) {
    .modal.open .wrapper .container .right {
        border-radius: 0;
    }
}

.modal.open .wrapper .container .right .form {
    width: 100%;
    -ms-grid-column: 2;
    grid-column-start: 2;
    grid-column-end: 7;
    -webkit-animation: modal-in 1.6s ease both;
    animation: modal-in 1.6s ease both;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@media screen and (max-width: 799px) {
    .modal.open .wrapper .container .right .form {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 7;
    }
}

.modal.open .wrapper .container .right .form .title {
    color: #404145;
}

.modal.open .wrapper .container .right .form .double .double-input  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.modal.open .wrapper .container .right .form .double .double-input .input-wrapper {
    width: calc(50% - 20px);
}
.triple .triple-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.triple .triple-input {
    width: calc(100% - 20px);
}
.modal.open .wrapper .container .right .form label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #404145;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 5px;
}

.modal.open .wrapper .container .right .form .input-wrapper {
    position: relative;
    margin-bottom: 25px;
}

.modal.open .wrapper .container .right .form .input-wrapper:after, .modal.open .wrapper .container .right .form .input-wrapper:before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #d2d2d2;
    height: 2px;
    border-radius: 2px;
    bottom: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    right: 0;
}

.modal.open .wrapper .container .right .form .input-wrapper:after {
    width: 0;
    background-color: #9c9c9c;
}

.modal.open .wrapper .container .right .form .input-wrapper select {
    width: 100%;
    border: 0;
    height: 30px;
    background-color: transparent;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: #9c9c9c;
    font-family: "Barlow", sans-serif;
    padding: 0 0 10px 5px;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../images/icon/select.png");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: 0px;
    background-size: 24px;
}

.modal.open .wrapper .container .right .form .input-wrapper select:focus {
    outline: 0;
}

.modal.open .wrapper .container .right .form .input-wrapper input {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    width: 100%;
    background-color: transparent;
    border: 0;
    height: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: #9c9c9c;
    font-family: "Barlow", sans-serif;
    padding: 0 0 10px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.modal.open .wrapper .container .right .form .input-wrapper input:focus {
    outline: 0;
}

.modal.open .wrapper .container .right .form .input-wrapper input::-webkit-input-placeholder {
    color: #b7b7b7;
}

.modal.open .wrapper .container .right .form .input-wrapper input:-ms-input-placeholder {
    color: #b7b7b7;
}

.modal.open .wrapper .container .right .form .input-wrapper input::-ms-input-placeholder {
    color: #b7b7b7;
}

.modal.open .wrapper .container .right .form .input-wrapper input::placeholder {
    color: #b7b7b7;
}

.modal.open .wrapper .container .right .form .input-wrapper.active:after {
    width: 100%;
    left: 0;
}

.modal.close {
    background: transparent;
    -webkit-transition: background 1s ease;
    transition: background 1s ease;
}

.modal.close .wrapper {
    -webkit-animation: modal-out 1.6s ease both;
    animation: modal-out 1.6s ease both;
}

@-webkit-keyframes modal-out {
    100% {
        -webkit-transform: translateX(130%);
        transform: translateX(130%);
    }
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes modal-out {
    100% {
        -webkit-transform: translateX(130%);
        transform: translateX(130%);
    }
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes modal-in {
    0% {
        -webkit-transform: translateX(130%);
        transform: translateX(130%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes modal-in {
    0% {
        -webkit-transform: translateX(130%);
        transform: translateX(130%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
/*# sourceMappingURL=formulario.css.map */