html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.fondo_pelis{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.flip-card {
    background-color: transparent;
    flex: 0 8 19%;
    width: 364px;
    height: 536px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    color: black;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    background-color: #68b990;
    /*color: white;*/
    font-weight: 700;
    font-family: "Barlow", sans-serif;
    letter-spacing: 0.04em;
    font-size: 60px;
    color: #d6a035;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    transform: rotateY(180deg);

}
.flip-card-back.detalles > a > h1{
    color:white;
    text-decoration: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.flip-card-back.detalles > p{
    font-weight:400;
    color:yellowgreen;
    font-size: 30px;
    margin-top: 1em;
    margin-outside: 1em;
}
 /*Para sacar el link molesto azul*/
 a:link, a:visited, a:active {
    text-decoration:none;
}
#app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 1;
}
