/*RESET INICIO*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*RESET FIN*/
/* Clasess  de ayuda INICIO */
.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 17px;
    line-height: 24px;
}

/*Clasess  de FIN*/
/*PROYECTO*/
*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: local('HelveticaNeue-Thin.otf'), url(../fonts/HelveticaNeue-Thin.otf) format('opentype');
}
#portada {
     /* position: fixed;*/
      right: 0;
      bottom: 0;
     /* top:-18em;*/
      min-width: 100%;
     /* min-height: 80%;*/
     background-color:black;
}
#pantallas{
    display:flex;
    flex-direction: column;

}
section{
    width:100%;
    height:100vh;
    box-sizing: border-box;


}
#pantalla1 {
   background-image: url(../images/intro/Cinema.jpg);
   background-color:black;
   background-position: center; /* Centra la imagen */
   background-repeat: no-repeat; /* no repite la imagen */
   background-size: cover; /* cubre el container con la imagen */
   background-attachment: fixed;
}
#pantalla2 {
    flex:1;
    background-color: darkturquoise;
    /*background-image: url("../intro/Cinema.jpg");*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 .fondo-section1{
object-fit: contain;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 2.5em 0.8em 0em 0.8em;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
body{
    font-family: 'Pontano Sans', sans-serif;
}
.navegador{
display:flex;
background-color:black;
background-attachment: fixed;
    z-index: 3;
}
.logoIntro {
flex:1;
    z-index: 3;
}
 .logo-imagen {
 max_width:3%;
 width:20em;
 padding:2em 4em 2em 2em;
/*width: 29em; height: 5.12em;*/
}
.navbar{
text-align: center;
padding:2em 2em 2em 0em;
    z-index: 3;
}
div ul{
flex:1;
display: flex;
padding: 0.9em;
}
/*contenido de las palabras del nav*/
.nav li a{
    font-weight: bold;
    color: aliceblue;
    font-size: 22px;
    text-align:center;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 30px; /*este servirá para cortar la linea*/
    padding-bottom: 4px;
    border-bottom: transparent;
    padding: 4em  0 0 0  ;
}
.nav li a:hover{
    border-bottom: 3px solid aliceblue;
    transition: border-bottom 0.2s, color 0.2s;
}
.infocentro{
    display:flex;
    flex-direction: row-reverse;
}
div.infocentro-txt{
    flex:1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    font-size: 3.5em;
    font-weight: bold;
    align-content: center;
    text-align:center;
    text-decoration: none;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.infocentro-parrafo{
    font-size: 0.5em;
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

}
.carrete{
    flex: 1;
    object-fit: contain;
}
/*div.infocentro-buttom{*/
/*    width: 500px;*/
/*    height: 80px;*/
/*    display:flex;*/
/*    flex-wrap:nowrap;*/
/*    padding:0.5em;*/
/*    justify-content:space-between;*/
/*    align-item: center;*/
/*    !*padding: 0.2em  0.6em ;*!*/
/*    background-color: #009396;*/
/*    border-radius: 3em;*/
/*    transition: 0.2s;*/
/*    margin-bottom:2em;*/
/*}*/
/*div.logo-boton{*/
/*flex:0.5;*/

/*}*/
/*div.letras.boton{*/
/*flex:8;*/

/*}*/
/*a.infocentro-buttom-txt{*/

/*    font-size: 0.4em;*/
/*    color:aliceblue;*/

/*    vertical-align: center;*/
/*    text-decoration: none;*/
/*    !*margin-bottom: 0.5em;*!*/

/*}*/
.icono-filmreel{
width:16%;


}
.infocentro-buttom:hover{
    background-color: #00c6c9;
    transition: 0.2s;
}
.footer-container{

    padding: 1.5em 0em 0em 0em;
}
.footer-container a{
    padding: 2em;
    max-width: 1920px;
    flex:1;
    display:flex;
    background-color:#00989B;
    font-weight: bold;
    color: aliceblue;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;

}
/*FIN DEL PROYECTO*/
/*
@media (max-width: 1900px) {
    .infocentro{
        flex-direction: column;
        text-align: center;

    }
    intro.carrete-intro{
        width: 5em;
        margin-top: 1em;
    }
}*/
