*{
    margin:0;
    padding: 0;
    text-decoration: none;

    font-family: monserrat;
    box-sizing: border-box;
}
.inicio{
    position: fixed;
    width:100%;
    height: 100vh;
    right: 0;
    bottom: 0;
    /*top:-8em;*/
    min-width: 100%;
    min-height: 100%;
    background-color: black;
}
body {
    min-height: 100vh;
}
.form-login{
    width:35em;  
    height: 30em;
    padding: 4em 2em;
    border-radius: 1em;
    position: absolute;
    left:50%;
    top:85%;
    transform: translate(-50%,-50%);
}
.form-login h1{
    font-size: 1.5em;
    color:white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
.txtb{
    border-bottom: 0.1em solid rgba(183, 181, 186, 0.9);
    position:relative;
    margin:1.5em 0;
}
.txtb input{
    font-size:1em;
    color:white;
    width: 100%;
    border:none;
    background: none;
    outline: none;
    padding: 0 0.3em;
    height:1.5em;
}
.txtb span::before{                        
    content:attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 0.5em;
    color: white;
    transform: translateY(-50%);
    z-index:-1;
    transition: .5s;
}
.txtb span::after{
     content:'';
     position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
     height: 2px;
     background: white;
     transition: .5s;
}
.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}
 .boton-entrada{
  display: block;
  width: 100%;
  font-size: 1em;
  height: 50px;
  border: none;
  background: #cfcdd2;
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
  text-transform:uppercase;
}

.boton-entrada:hover{
      background: #3f846f;
}

.boton-txt{
  color:white;
  margin-top: 60px;
  text-align: center;
  font-size: 1em;
    font-weight: bold; 
}

@media (max-width:700px){
    .inicio{
        top:-15%;
    }
    .form-login{
        top:80%;
    }
    body{
        min-weigth:640px;
        min-height:1200px;
        color:black;
        background-color:black;
    }
}