<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> c i n e t e c a </title>
    <!--meta tag requeridos-->
    <meta charset="UTF-8"><!--Codificación de los caracteres-->
    <meta http-equiv="x-ua-compatible" content="IE=edge, chome=1"><!--Muestra la web en el document mode más nuevo-->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--optimizacion para dispositivos mobiles-->
    <!--Fuentes de Google-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Playball|Pontano+Sans&display=swap">
    <!--Proyecto aterior-->
    <!-- ESTILOS (Normalize es un tipo de reset) -->
    <link rel="stylesheet" href="stylesheets/normalize.css"/>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="stylesheets/styleIntro.css"/>
    <link rel="stylesheet" href="stylesheets/formulario.css">
    <link rel="stylesheet" href="stylesheets/pelisFlip.css">


    <!--HTLM5 shiv and Respond.js IE8 support of HTLM5 elements and media querries-->
    <!--[if lt IE9]>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="pantallas">
<header>
    <div class="navegador">
        <div class="logoIntro"><img src="images/intro/logo-blanco.png" alt="" class="logo-imagen">
            <a href="#" class="logo-img"></a>
        </div>
        <div class="navbar">
            <ul class="nav">
                <li><a href="index.html">home</a></li>
                <li><a href="#" class="menuIngresar">ingresar</a></li>
                <li><a href="#" class="menuPeliculas">Peliculas</a></li>
                <li><a href="#" class="menuDirectores">Directores</a></li>
                <li><a href="#" class="add " style="display: inline; padding: 5px; " data-id={{:ID_pelicula}}>  Agregar pelicula</a></li>
            </ul>
        </div>
    </div>
</header>
<script id="intro_template" type="text/x-handlebars-template">
    <video autoplay muted loop src="videos/tercipelo_web.mp4" id="portada" type="video/mp4"></video>
    <section id="pantalla1"></section>
    <section id="pantalla2">
        <div class="container">
            <div class="infocentro">
                <div class="carrete">
                    <img src="images/intro/reelREALs.png" class="carrete-img">
                </div>
                <div class="infocentro-txt">
                    <h2>100 Peliculas - 10 Directores</h2>
                    <p class="infocentro-parrafo">Las 10 mejores películas, seleccionadas con pinzas para que tú puedas
                        disfrutarlas. Directores famosos y otros no tan famosos, ¡Bienvenide a conocer!!</p>
                    <button href="#" class="btn entrarPelis">Agregar una película o director</button>
                </div>
            </div>
        </div>
    </section>
</script>
<script id="peliculas_template" type="text/x-handlebars-template">
    <video autoplay muted loop src="videos/tercipelo_web.mp4" class="fondo_pelis"></video>
<!--    <button data-id={{:ID_pelicula}} href="#" class="btn add flip-card-front"><span>Agregar pelicula</span></button>-->
    {{for pelicula}}
        <div class="flip-card ">
             <div class="flip-card-inner">
                <div class="flip-card-front">
                    <a data-id={{:ID_pelicula}} class="detalles" href="#">
                        {{if imagen}}
                            <img src="{{:imagen}}" alt="Avatar" style="width:364px;height:536px;">
                        {{else}}
                            <img src="https://www.filmaffinity.com/imgs/movies/noimgfull.jpg" alt="Avatar"
                                 style="width:364px;height:536px;">
                        {{/if}}
                    </a>
                </div>
                <div data-id={{:ID_pelicula}} class="flip-card-back  detalles">
                    <a data-id={{:ID_pelicula}} class="detalles" href="#"><h1>{{:titulo}}</h1></a>
                    <p>{{:dirigetext}}</p>
                    <p>{{:anio}}</p>
                    <p>{{:duracion}}</p>
                    <p>{{:estreno}}</p>
                    <p>{{:genero}}</p>
                </div>
            </div>
        </div>
    {{/for}}

    </script>
<script id="pelicula_template" type="text/x-handlebars-template">
    <video autoplay muted loop src="videos/tercipelo_web.mp4" class="fondo_pelis"></video>
    <a class="logo" href="index.html">
        <img src="images/calavera.png" alt="70px">
    </a>
    <section class="modal open">
    <div class="wrapper">
    <div class="container">
        <span class="icon-close"></span>
    <div class="left">
    <div class="details">
        <persona>
            <h2 class="title">ID {{:ID_pelicula}}</h2>
        </persona>
    <div class="swiper-container">
    <div class="foto_persona">
    {{if imagen}}
        <img src="{{:imagen}}" alt="Avatar" style="width:218px;height:322px;">
    {{else}}
        <img src="https://www.filmaffinity.com/imgs/movies/noimgfull.jpg" style="width:218px;height:322px;">
    {{/if}}
    </div>
    </div>
        <persona>
            <label for="nombre-left">Director</label>
            <h3 class="nombre-left">{{:dirigetext}}</h3>
            <p class="nacionalidad-left">{{:titulo}}</p>
            <p class="nacimiento-left">{{:nace}}</p>
            <p class="total">AÑO</p>
            <p class="dni-left">{{:anio}}</p>
        </persona>
    </div>
    </div>
    <div class="right">
    <div class="form">
        <h2 class="title">Informacion Pelicula {{:titulo}}</h2>
    <form action="">
    <div class="doble">
    <div class="double-input">
    <div class="input-wrapper">
        <label for="titulo">Titulo</label>
        <p>{{:titulo}}</p>
    {{if original}}
        <label for="original">Original</label>
        <p>{{:original}}</p>
    {{/if}}
    </div>
        <div class="input-wrapper">
            <label for="genero">Genero</label>
            <p>{{:genero}}</p>
        </div>
        <div class="input-wrapper">
            <label for="duracion">Duración</label>
            <p>{{:duracion}}</p>
        </div>
        <div class="input-wrapper">
            <label for="estereno">Estreno</label>
            <p>{{:estreno}}</p>
        </div>
    {{if descripcion}}
        <div class="input-wraper">
            <label for="descripcion">Descripcion</label>
            <p>{{:descripcion}}</p>
        </div>
    {{/if}}
    </div>
    </div>
    </form>
        <div class="double">
            <div class="double-input">
                <button data-id="{{:ID_pelicula}}"  type="submit" class="btn modificar"><span>Modificar</span></button>
                <button data-id="{{:ID_pelicula}}" href="#" class="btn warn eliminar"><span>Eliminar</span></button>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </section>
</script>
<script id="agregar_peliculas_template" type="text/x-handlebars-template">
    <video autoplay muted loop src="videos/tercipelo_web.mp4" class="fondo_pelis"></video>
    <section class="modal open">
        <div class="wrapper">
            <div class="container">
                <span class="icon-close"></span>
                <div class="left">
                    <div class="details">
                        <persona>
                            <h2 class="title">ID PELI</h2>
                        </persona>
                        <div class="swiper-container">
                            <div class="foto_persona">
                                <img src="https://www.filmaffinity.com/imgs/movies/noimgfull.jpg" alt="Avatar"
                                     style="width:218px;height:322px;">
                            </div>
                        </div>
                        <persona>
                            <h3 class="nombre-left">Director</h3>
                            <p class="nacionalidad-left">Nacionalidad</p>
                            <p class="nacimiento-left">Fecha de nacimiento</p>
                            <p class="total">AÑO</p>
                            <p class="dni-left">XXXX</p>
                        </persona>
                    </div>
                </div>
                <div class="right">
                    <div class="form">
                        <h2 class="title">Ingresar una pelicula</h2>
                        <form>
                            <div class="double">
                                <label for="genero">Genero</label>
                                <div class="double-input">
                                    <div class="input-wrapper">
                                        <select name="genero">
                                            <option value="COM">Comedia</option>
                                            <option value="DRA">Drama</option>
                                            <option value="HRR">Horror</option>
                                            <option value="MYS">Misterio</option>
                                            <option value="DOC">Documental</option>
                                            <option value="WAR">Guerra</option>
                                            <option value="SRT">Corto</option>
                                            <option value="HIS">Historia</option>
                                            <option value="BIO">Biografia</option>
                                            <option value="TLR">Thriller</option>
                                            <option value="ADV">Aventura</option>
                                            <option value="FAN">Fantasia</option>
                                            <option value="ROM">Romance</option>
                                            <option value="CRI">Crimen</option>
                                            <option value="FN">Film-negro</option>
                                            <option value="SF">Sci-fi</option>
                                            <option value="TV">Tv-series</option>
                                            <option value="ACT">Accio</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="double">
                                <!--                            <label for="date">Nombre y Apellidos</label>-->
                                <div class="double-input">
                                    <div class="input-wrapper">
                                        <label for="titulo">Titulo</label>
                                        <input id="titulo" name="titulo" type="text" placeholder="titulo">
                                    </div>

                                    <div class="input-wrapper">
                                        <label for="original">Titulo Original</label>
                                        <input id="original" name="original" type="text" placeholder="original">
                                    </div>
                                </div>
                            </div>
                            <div class="double">
                                <div class="double-input">
                                    <div class="input-wrapper">
                                        <label for="dirigetext">Nombre del director</label>
                                        <input id="dirigetext" name="dirigetext" type="text"
                                               placeholder="Nombre director">
                                    </div>
                                </div>
                            </div>
                            <label for="date"></label>
                            <div class="double-input">
                                <div class="input-wrapper">
                                    <label for="imagen">Link imagen</label>
                                    <input id="imagen" name="imagen" type="url" placeholder="link imagen">
                                </div>
                            </div>
                            <div class="triple">
                                <label for="anio">Fechas</label>
                                <div class="triple-input">
                                    <div class="input-wrapper">
                                        <label for="anio">AÑO</label>
                                        <input type="date" id="anio" name="anio"
                                               value="1990-01-01"
                                               min="1920-01-01" max="2080-12-31">
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="estreno">ESTRENO</label>
                                        <input type="date" id="estreno" name="estreno"
                                               value="1990-01-01"
                                               min="1920-01-01" max="2080-12-31">
                                    </div>

                                    <div class="input-wrapper">
                                        <label for="duracion">DURACION</label>
                                        <input type="time" id="duracion" name="duracion"
                                               value="01:30:00" max="48:00:00" min="00:00:00" step="1">
                                    </div>
                                </div>
                            </div>
                            <div class="double">
                                <div class="double-input">
                                    <div class="input-wrapper">
                                        <button type="reset" class="btn"><span>Reiniciar</span></button>
                                    </div>
                                    <div class="input-wrapper">
                                        <button type="submit" class="btn add-submit"><span>Enviar a la BD</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>

<script id="modificar_peliculas_template" type="text/x-handlebars-template">
    <video autoplay muted loop src="videos/tercipelo_web.mp4" class="fondo_pelis"></video>
    <section class="modal open">
        <div class="wrapper">
            <div class="container">
                <span class="icon-close"></span>
                <div class="left">
                    <div class="details">
                        <persona>
                            <h2 class="title">ID: {{:ID_pelicula}}</h2>
                        </persona>
                        <div class="swiper-container">
                            <div class="foto_persona">
                                {{if imagen}}
                                    <img src="{{:imagen}}" alt="Avatar" style="width:218px;height:322px;">
                                {{else}}
                                    <img src="https://www.filmaffinity.com/imgs/movies/noimgfull.jpg" alt="Avatar"
                                         style="width:218px;height:322px;">
                                {{/if}}
                            </div>
                        </div>
                        <persona>
                            <h3 class="nombre-left">Director</h3>
                            <p class="nacionalidad-left">Nacionalidad</p>
                            <p class="nacimiento-left">Fecha de nacimiento</p>
                            <p class="total">AÑO</p>
                            <p class="dni-left">XXXX</p>
                        </persona>
                    </div>
                </div>
                <div class="right">
                    <div class="form">
                        <h2 class="title">Modificar {{:titulo}}</h2>
                        <form>
                            <div class="double">
                                <label for="genero">Genero</label>
                                <div class="double-input">
                                    <div class="input-wrapper">
                                        <select  name="genero" id = "genero" value="{{:genero}}">
                                            <option value="COM">Comedia</option>
                                            <option value="DRA">Drama</option>
                                            <option value="HRR">Horror</option>
                                            <option value="MYS">Misterio</option>
                                            <option value="DOC">Documental</option>
                                            <option value="WAR">Guerra</option>
                                            <option value="SRT">Corto</option>
                                            <option value="HIS">Historia</option>
                                            <option value="BIO">Biografia</option>
                                            <option value="TLR">Thriller</option>
                                            <option value="ADV">Aventura</option>
                                            <option value="FAN">Fantasia</option>
                                            <option value="ROM">Romance</option>
                                            <option value="CRI">Crimen</option>
                                            <option value="FN">Film-negro</option>
                                            <option value="SF">Sci-fi</option>
                                            <option value="TV">Tv-series</option>
                                            <option value="ACT">Accio</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="double">
                                <!--                            <label for="date">Nombre y Apellidos</label>-->
                                <div class="double-input">
                                    <div class="input-wrapper">
                                        <label for="titulo">Titulo</label>
                                        <input id="titulo" name="titulo" type="text" value="{{:titulo}}">
                                    </div>

                                    <div class="input-wrapper">
                                        <label for="original">Titulo Original</label>
                                        <input id="original" name="original" type="text" value="{{:original}}">
                                    </div>
                                </div>
                            </div>
                            <div class="double">
                                <div class="double-input">
                                    <div class="input-wrapper">
                                        <label for="dirigetext">Nombre del director</label>
                                        <input id="dirigetext" name="dirigetext" type="text" value="{{:dirigetext}}">
                                    </div>
                                </div>
                            </div>
                            <label for="date"></label>
                            <div class="double-input">
                                <div class="input-wrapper">
                                    <label for="imagen">Link imagen</label>
                                    <input id="imagen" name="imagen" type="url" value="{{:imagen}}"
                                           placeholder="link imagen">
                                </div>
                            </div>
                            <div class="triple">
                                <label for="anio">Fechas</label>
                                <div class="triple-input">
                                    <div class="input-wrapper">
                                        <label for="anio">AÑO</label>
                                        <input type="date" id="anio" name="anio"
                                               value="{{:anio}}"
                                               min="1920-01-01" max="2080-12-31">
                                    </div>
                                    <div class="input-wrapper">
                                        <label for="estreno">ESTRENO</label>
                                        <input type="date" id="estreno" name="estreno"
                                               value="{{:estreno}}"
                                               min="1920-01-01" max="2080-12-31">
                                    </div>

                                    <div class="input-wrapper">
                                        <label for="duracion">DURACION</label>
                                        <input type="time" id="duracion" value="{{:duracion}}" name="duracion"
                                               value="01:30:00" max="48:00:00" min="00:00:00" step="1">
                                    </div>
                                </div>
                            </div>

                            <div class="double">
                                <div class="double-input">
                                    <div class="input-wrapper">
                                        <button type="reset" class="btn"><span>Reiniciar</span></button>
                                    </div>
                                    <div class="input-wrapper">
                                        <button data-id="{{:ID_pelicula}}"  type="submit" class="btn warn modificar-submit">
                                            <span>Enviar a la BD</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>
<script id="login_template" type="text/x-handlebars-template">
    <link rel="stylesheet" href="stylesheets/style-login.css">
    <video autoplay muted loop src="videos/la_haine_clip_loco.mp4" class="inicio"></video>
    <form action="submit" class="form-login">
        <h1>Iniciar sesión</h1>
        <div class="txtb">
            <input type="text">
            <span data-placeholder="Usuario"></span>
        </div>
        <div class="txtb">
            <input type="password">
            <span data-placeholder="Contraseña"></span>
        </div>
        <input type="" class="boton-txt boton-entrada" value="Ingresar">
        <div class="boton-txt">
            No tienes cuenta? <a href="#">Registrate</a>
        </div>
        <script type="text/javascript">
            $(".txtb input").on("focus",function(){
                $(this).addClass("focus");
            });

            $(".txtb input").on("blur",function(){
                if($(this).val() == "")
                    $(this).removeClass("focus");
            });

</script>
</script>
<script id="directores_template" type="text/x-handlebars-template">
    <link rel="stylesheet" href="stylesheets/style_directores.css">

    <main>
    <video autoplay muted loop src="videos/tercipelo_web.mp4" id="portada-dir" type="video/mp4"></video>
        <div id="carousel">
            <div class="hideLeft">
                 <img src="images/directores/directores-400x400/argento.jpg" />

            </div>
            <div class="prevLeftSecond">
                <img src="images/directores/directores-400x400/fellini.jpg" />
            </div>
            <div class="prev">
                <img src="images/directores/directores-400x400/gilliam.jpg" />
            </div>
            <div class="selected">
                <img src="images/directores/directores-400x400/godard.jpg" />
            </div>
            <div class="next">
                <img src="images/directores/directores-400x400/gusman.jpg" />
            </div>
            <div class="nextRightSecond">
                 <img src="images/directores/directores-400x400/herzog.jpg" />
            </div>
            <div class="hideRight">
                <img src="images/directores/directores-400x400/hitchcock.jpg" />
            </div>
        </div>
        <div class="buttons">
            <button id="prev">Prev</button>
            <button id="next">Next</button>
        </div>
    </main>

    <script src="javascripts/carrusel.js"></script>
</script>
<div id="app"></div>
<footer>
    <div class="footer-container">
        <a href="#"><h2> cinemateca 2020</h2></a>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="javascripts/formulario.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="//unpkg.com/navigo@6"></script>
<script>



    //debo adaptarlo para mi Scroll
    $(document).ready(function () {
        // agrega un scroll a las paginas
        $("video").on('click', function (event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {
                    window.location.hash = hash;
                });
            }
        });
    });
</script>
<script>
    var root = null;
    var useHash = true; // Defaults to: flase
    var hash = '#!'; // defaults to:'#'
    var router = new Navigo(root, useHash, hash);

    router
        .on('/',muestraPeliculas())
        .on('/pelicula/:id',muestraPelicula())
        .on('/pelicula/agregar',agregarPeli())
        .on('/pelicula/:id/eliminar',eliminarPeli())
        .on('/pelicula/:id/modificar',modificarPeli())
        .on('/login',muestraLogin())
        .on('/',showCharacters)
        .resolve();
    function muestraPelicula(event) {
        event.preventDefault();
        var id = $(this).data("id");
        console.log(id);
        $.getJSON("/api/peliculas/" + id, function (data) {
            var html = $("#pelicula_template").render(data);
            $("#app").html(html);
            $('.eliminar').on("click", eliminarPeli);
            $('.modificar').on("click", modificarPeli);
            $('.icon-close').on("click", muestraPeliculas);
        });
    }

    function agregarPeli(event) {
        event.preventDefault();
        var html = $("#agregar_peliculas_template").render();
        $("#app").html(html);
        $(".add-submit").on("click", agregarFormSubmit);
        $('.icon-close').on("click", muestraPeliculas);
    }

    function agregarFormSubmit(event) {
        event.preventDefault();
        var form = $("form");
        var data = form.serializeObject();
        console.log(data);
        console.log(form);

        $.post("api/peliculas/", data, function (result) {
            muestraPeliculas();
        })
    }

    function eliminarPeli(event) {
        event.preventDefault();
        var id = $(this).data("id");
        console.log("peli pa eleminar: " + id);
        $.ajax({
            url: 'api/peliculas/' + id,
            type: 'DELETE'
        }).then(function (result) {
            muestraPeliculas();
        });
    }

    function modificarPeli(event) {
        event.preventDefault();
        var id = $(this).data("id");
        $.getJSON("/api/peliculas/" + id, function (data) {
            var html = $("#modificar_peliculas_template").render(data);
            $("#app").html(html);
            $(".modificar-submit").on("click", modificarFormSubmit);
            $('.icon-close').on("click", muestraPeliculas);
        });
        console.log("peli pa modificar: " + id);
        /*Hasta acá funciona mostrando el id*/
    }

    function modificarFormSubmit(event) {
        event.preventDefault();
        var form = $("form");
        var data = form.serializeObject();
        var button = $("form > button");
        var id = button.data("id");
        console.log("FORM:" + form);
        console.log("DATA:" + data);
        console.log("Button:" + button);
        console.log("ID:" + id);
        $.post("/api/peliculas/" + id, data, function (result) {
            muestraPeliculas();
        })

        /*$.post("/api/peliculas/" + id, data)
            .then(function (result) {
                console.log(result);
                muestraPeliculas();
            }).catch(function (error) {
            console.log(error);*/

    }

    function muestraPeliculas() {
        $.getJSON("/api/peliculas/", function (data) {
            var html = $("#peliculas_template").render(data);
            $("#app").html(html);
            $(".detalles").on("click", muestraPelicula);
            $('.add').on("click", agregarPeli);
            $('.abrePeliculas').on("click", muestraPeliculas);
        });
    }
    function muestraLogin(){
        var html = $("#login_template").render();
        $("#app").html(html);
        $(".boton-entrada").on("click", muestraPeliculas);

    }
    function muestraDirectores(){
        var html = $("#directores_template").render();
        $("#app").html(html);

    }
    $(document).ready(function () {
        var html = $("#intro_template").render();
        $("#app").html(html);
        $('.entrarPelis').on("click", muestraPeliculas);
        $('.menuPeliculas').on("click", muestraPeliculas);
        $('.add').on("click", agregarPeli);
        $('.menuDirectores').on("click", muestraDirectores);
        $('.menuIngresar').on("click", muestraLogin);
        $('.icon-close').on("click", muestraPeliculas);
        // $('.menuContacto').on("click", muestraPeliculas);
    });
</script>
</body>
</html>